{% extends 'base.html' %}

{% block title %}LivinnX Resident Dashboard{% endblock title %}

{% block content %}
<style>
    p, h1, h2, h3, h4 {
        color: white;
        font-family: 'Bebas Neue', serif;
    }
    h5 {
        color: black;
        font-size: 16px;
    }
    a {
        text-decoration: none;
        color: black;
        transition: 0.2s;
    }
    a:hover{
        color: #ffffff;
    }
    body {
        background: linear-gradient(45deg, #0869a0, #4682b4, #87cefa, #063970, #154c79);
        background-size: 200% 200%;
        animation: Gradient 40s ease infinite;
        }
        @keyframes Gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
        }
</style>
<section style="margin-top:100px;">
    <div class="container py-4 py-xl-5" style="padding-top: 7rem!important;">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h1>LivinnX announcements</h1>
                <h3>The latest announcements and posts from the building administration.</h3>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            {% for post in latest_posts %}
            <div class="col">
                <div class="p-4">
                    <span class="badge rounded-pill" style="background: {{ post.get_color }}!important">{{ post.type|title }}</span>
                    <h2><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h2>
                    {% with post.body_en as text %}
                    <h5>{{ text|slice:":200" }}
                    {% if text|length > 200 %}
                    <a href="{% url 'post_detail' slug=post.slug %}" style="text-decoration: underline;">read more</a>{% endif %}</h5>
                    {% endwith %}
                    <div class="d-flex"><img class="flex-shrink-0 me-3 fit-cover" width="60" height="60" src="{{ post.author.profile.photo.url }}">
                        <div>
                            <p class="fw-bold mb-0" style="color: black;">{{ post.author }}</p>
                            <p class="text-muted mb-0">{{ post.published }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}