{% extends 'base.html' %}

{% block title %}{{ object.amenity.name }}Reservation{% endblock title %}


{% block content %}
<form method="post" action="">
{% csrf_token %}
<section style="background: linear-gradient(#ffffff, rgb(220,121,157) 58%, #c21655 99%);">
    <style>
        .swal-overlay {
          background-color: rgba(0, 0, 0, 0);
        }
        .swal-title {
            font-family: 'Bebas Neue'; 
        }
        .no-interaction {
            pointer-events: none;
            opacity: 0.3;
        }
    </style>
    <div class="container" style="padding-top: 8rem!important;">
        <div class="row">
            <div class="col-md-12" style="margin-top: 84px;height: 194px;">
                <h1 class="text-center" style="font-family: 'Bebas Neue', serif; color: black;">{{ object.amenity.name }}</h1>
                <p><center style="font-weight: bold; color: black;">{{ object.amenity.description }}</center></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="margin-top: 43px; color: black;">
                <h4 style="text-align: center; color: black;">Timetable and information</h4>
                <p><center style="font-weight: bold;">{{ object.amenity.opening_hours|linebreaks }}</center></p>
                <button id="regulations-btn" class="btn btn-info" style="margin: auto; display: block;">Terms of use</button>
            </div>
            <div class="col-md-4" style="margin-top: 43px;">
                <h4 style="text-align: center; color: black;">{{ today|date:'Y-m-d' }}</h4>
                <ul id="chosen-hours-list-today" style="display: none;"></ul>
                <div class="hours_container">
                    <div>
                        {% for hour in object.hours_available_today.all %}
                        <label for="today-{{ hour }}">
                            <input type="checkbox" id="today-{{ hour }}" name="{{ hour }}" class="hour-checkbox today-checkbox" value="{{ hour }}">
                            <span>{{ hour }}</span>
                        </label>
                        {% endfor %}
                        {% for hour in object.hours_booked_today.all %}
                        <label for="today-{{ hour }}"  class="disabled-label">
                            <input type="checkbox" class="hour-checkbox today-checkbox disabled-checkbox" disabled>
                            <span>{{ hour }}</span>
                        </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="margin-top: 43px;">
                <h4 style="text-align: center; color: black;">{{ tomorrow|date:'Y-m-d' }}</h4>
                <ul id="chosen-hours-list-tomorrow" style="display: none;"></ul>
                <div class="hours_container">
                    <div>
                        {% for hour in object.hours_available_tomorrow.all %}
                        <label for="tomorrow-{{ hour }}">
                            <input type="checkbox" id="tomorrow-{{ hour }}" name="{{ hour }}" class="hour-checkbox tomorrow-checkbox" value="{{ hour }}">
                            <span>{{ hour }}</span>
                        </label>
                        {% endfor %}
                        {% for hour in object.hours_booked_tomorrow.all %}
                        <label for="tomorrow-{{ hour }}"  class="disabled-label">
                            <input type="checkbox" class="hour-checkbox tomorrow-checkbox disabled-checkbox" disabled>
                            <span>{{ hour }}</span>
                        </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 100px;">
                <div class="row">
                    <div class="col-md-4">
                        <h4 style="text-align: center;color: white;">Additional information</h4>
                        <p style="text-align: center;color: white;">{{ object.amenity.additional_info }}</p>
                    </div>
                    <input type="hidden" name="hours_today" id="hidden-hours-input-today">
                    <input type="hidden" name="hours_tomorrow" id="hidden-hours-input-tomorrow">
                    <div class="col-md-4" style><button class="btn btn-primary make-reservation-btn" data-toggle="modal" data-target="#exampleModal" style="margin-left: 135px;" type="submit">Make reservation</button></div>
                </div>
            </div>
        </div>
    </div>
</form>
</section>
{% endblock content %}
{% block extra_js %}
<script>
$(document).ready(function() {
    var amenity = "{{ object.amenity.name|lower }}";
    var amenityAvailable = {{ amenity.available|yesno:"1,0" }};
    var userHoursBookedToday = {{ hours_booked_today|length }};
    var userHoursBookedTomorrow = {{ hours_booked_tomorrow|length }};
    var userActive = {{ user_active|yesno:"1,0" }};
    var userActiveAmenity = {{ user_active_amenity|yesno:"1,0" }};
    var today = "{{ today|date:'Y-m-d' }}";
    var tomorrow = "{{ tomorrow|date:'Y-m-d' }}";
    var maxCheckToday = 4 - userHoursBookedToday;
    var maxCheckTomorrow = 4 - userHoursBookedTomorrow;

    function showSwal(title, text) {
        swal({
            title: title,
            text: text,
            icon: "error",
            button: false,
            customClass: {
                container: "center-text",
            },
        });
    }

    if (!amenityAvailable) {
        $("section").addClass("no-interaction");
        showSwal("Amenity Not Active", "This amenity is temporarily unavailable.\nPlease contact the administrative office for assistance.");
    } else if (!userActive) {
        $("section").addClass("no-interaction");
        showSwal("User Not Active", "You are not an active user and cannot interact with this content.");
    } else if (!userActiveAmenity) {
        maxCheckToday = 0;
        maxCheckTomorrow = 0;
        $("section").addClass("no-interaction");
        showSwal("Amenity Not Available", "This amenity is not available for you. Please contact the administration office.");
    } else if (userHoursBookedToday >= 4) {
        maxCheckToday = 0;
        showSwal("Reservation for " + today + " Limit Reached", "You cannot make any more reservations for " + amenity + " for " + today + ".");
    } else if (userHoursBookedTomorrow >= 4) {
        maxCheckTomorrow = 0;
        showSwal("Reservation for " + tomorrow + " Limit Reached", "You cannot make any more reservations for " + amenity + " for " + tomorrow + ".");
    }

    var checkboxes = $('.hour-checkbox');
    var reserveButton = $('.btn-primary');

    if (checkboxes.filter(':checked').length === 0) {
        reserveButton.prop('disabled', true);
        reserveButton.addClass('btn-secondary');
        reserveButton.removeClass('btn-primary');
    }

    checkboxes.change(function() {
        var currentCheckToday = $('.today-checkbox:checked').length;
        var currentCheckTomorrow = $('.tomorrow-checkbox:checked').length;

        reserveButton.prop('disabled', checkboxes.filter(':checked').length === 0);
        reserveButton.toggleClass('btn-secondary', checkboxes.filter(':checked').length === 0);
        reserveButton.toggleClass('btn-primary', checkboxes.filter(':checked').length > 0);

        if (currentCheckToday > maxCheckToday) {
            $(this).prop('checked', false);
            showSwal("Max Selection Limit", "On " + today + " you can select a maximum of " + maxCheckToday + " time blocks");
        } else if (currentCheckTomorrow > maxCheckTomorrow) {
            $(this).prop('checked', false);
            showSwal("Max Selection Limit", "On " + tomorrow + " you can select a maximum of " + maxCheckTomorrow + " time blocks");
        }

        var chosenHoursArrayToday = $('.today-checkbox:checked').map(function() {
            return $(this).val();
        }).toArray();
        $('#hidden-hours-input-today').val(chosenHoursArrayToday.join(','));
        
        var chosenHoursArrayTomorrow = $('.tomorrow-checkbox:checked').map(function() {
            return $(this).val();
        }).toArray();
        $('#hidden-hours-input-tomorrow').val(chosenHoursArrayTomorrow.join(','));
    });

    $('#regulations-btn').click(function(e) {
        e.preventDefault();
        var regulations = "{{ object.amenity.regulations|escapejs }}";
        swal({
            title: "Regulations",
            text: regulations,
            icon: "info",
        });
    });
    $('.make-reservation-btn').click(function(e) {
        e.preventDefault();

        var chosenHoursToday = $('#hidden-hours-input-today').val();
        var chosenHoursTomorrow = $('#hidden-hours-input-tomorrow').val();

        if(chosenHoursToday === "") {
            chosenHoursToday = "No hours choosen."
        }

        if(chosenHoursTomorrow === "") {
            chosenHoursTomorrow = "No hours choosen."
        }
        
        swal({
            title: "Are you sure?",
            text: "You are about to make a reservation for " + amenity + 
                  "\n On " + today + " for the following hours: \n" + chosenHoursToday +
                  "\n And on " + tomorrow + " for the following hours: \n" + chosenHoursTomorrow,
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willReserve) => {
            if (willReserve) {
                $.ajax({
                    type: "POST",
                    url: "{% url 'make_reservation' %}",
                    data: {
                        'hours_today': chosenHoursToday,
                        'hours_tomorrow': chosenHoursTomorrow,
                        'amenity_slug': "{{ object.amenity.slug }}",
                        'amenity_date': today,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(data) {
                        if (data.status == "success") {
                            swal("Reservation successful!", {
                                icon: "success",
                            }).then(() => {
                                location.reload();
                            });
                        } else {
                            showSwal("Sorry!", "At least one of the selected hours is no longer available. Please choose different hours.")
                                .then(() => {
                                location.reload();
                            });
                        }
                    }
                });
            } else {
                swal("Your reservation has been cancelled.");
            }
        });
    });
});
</script>
{% endblock extra_js %}
<style>
    .center-text {
        text-align: center;
    }
</style>