{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Admin {{ user.first_name }} Profile {% endblock title %}

{% block content %}
<style>
    a, h5 {
        color: #51ABAC;
    }
    .active {
    color: green;
    }
    .inactive {
        color: red;
    }
    .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
    display: grid;
    }

    .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    }

    .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    }

    .input-container {
    height: 50px;
    position: relative;
    width: 100%;
    }

    .ic1 {
    margin-top: 40px;
    }

    .ic2 {
    margin-top: 30px;
    }

    .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    }
</style>
<section style="background: linear-gradient(#ffffff 0%, rgb(184,237,233) 52%, #54fff5 100%);margin-top: 150px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-fill" style="font-size: 116px;height: 138px;width: 119px;margin-left: 68px;margin-top: 0px;">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                </svg>
                {% comment %} <h3 style="font-family: 'Bebas Neue', serif;">{{ user.user.first_name }} {{ user.user.last_name }} Profile</h3> {% endcomment %}
                <form method="post">
                    {% csrf_token %}
                    <div class="form">
                        <div class="title">Tenant Profile</div>
                        <h3 style="font-family: 'Bebas Neue', serif;">{{ user.user.first_name }} {{ user.user.last_name }}</h3>
                        <div class="input-container ic1">
                            <input id="firstname" class="input" type="text" placeholder=" " name="{{ form.first_name.name }}" value="{{ form.first_name.value }}">
                        </div>
                        <div class="input-container ic2">
                            <input id="lastname" class="input" type="text" placeholder=" " name="{{ form.last_name.name }}" value="{{ form.last_name.value }}">
                        </div>
                        <div class="input-container ic2">
                            <input id="email" class="input" type="text" placeholder="Email" name="{{ form.email.name }}" value="{{ form.email.value }}">
                        </div>
                        <button class="btn btn-outline-primary btn-sm" style="margin-top:20px;" type="submit">Save</button>
                    </div>
                </form>            
            </div>
            <div class="col-md-4">
                <h3 style="font-family: 'Bebas Neue', serif;">Tenant current reservations</h3>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div id="faqlist" class="accordion accordion-flush">
                            {% for reservation in user_reservations %}
                            {% if reservation.date == todays_date or reservation.date == tomorrows_date %}
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-{{ forloop.counter }}" style="font-family: 'Bebas Neue'">{{ reservation.amenity }} | #{{ reservation.id }} |
                                {% if reservation.active %}
                                    <span class="active">Active</span>
                                {% else %}
                                    <span class="inactive">Inactive</span>
                                {% endif %}</button></h2>
                                <div id="content-accordion-{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body">{{ reservation.date }}</p>
                                    <p class="accordion-body">
                                        {% for hour in reservation.hours_booked.all %}
                                            {{ hour }},
                                        {% endfor %}
                                    </p>
                                    <a href="{% url 'admin_reservation_delete' reservation.id %}" class="btn btn-danger delete-btn">Delete</a>
                                    <button class="btn btn-danger toggle-active" data-reservation-id="{{ reservation.id }}" data-url="{% url 'toggle_reservation_active' reservation.id %}">
                                        {% if user.active %}
                                            Deactivate
                                        {% else %}
                                            Activate
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3 style="font-family: 'Bebas Neue', serif;">Tenant Past Reservations:</h3>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div id="faqlist" class="accordion accordion-flush">
                            {% for reservation in user_reservations|slice:":10" %}
                            {% if reservation.date != todays_date and reservation.date != tomorrows_date %}
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-past-{{ forloop.counter }}" style="font-family: 'Bebas Neue'">{{ reservation.amenity }} | #{{ reservation.id }} | 
                                {% if reservation.active %}
                                    Active
                                {% else %}
                                    Inactive
                                {% endif %}
                                </button></h2>
                                <div id="content-accordion-past-{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body">{{ reservation.date }}</p>
                                    <p class="accordion-body">
                                    {% for hour in reservation.hours_booked.all %}
                                        {{ hour }},
                                    {% endfor %}
                                    </p>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3 style="font-family: 'Bebas Neue', serif;">Available Amenities For The Tenant</h3>
                <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                    {% for amenity in amenities %}
                    <div class="col">
                        <div class="d-flex">
                            <div>
                                {% for image in amenity.images.all %}
                                <a href="#"><img class="flex-shrink-0 me-3 fit-cover" width="60" height="60" src="{{ image.file.url }}" alt="{{ image.file.name }}"></a>
                                {% endfor %}    
                                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"></path>
                            </div>
                            <div class="px-3 amenity-text">
                                <a href="#">
                                <h4 class="text-black">{{ amenity.name }}</h4>
                                <p style="color: black;">{{ amenity.description }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block extra_js %}
<script>
document.querySelectorAll('.delete-btn').forEach(btn => {
    btn.addEventListener('click', function (e) {
        e.preventDefault();
        const href = this.getAttribute('href');
        swal({
            title: "Are you sure?",
            text: "You cannot undo this reservation for the Tenant",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                fetch(href, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                })
                .then(res => window.location.reload())
                .catch(err => console.log(err));
            }
        });
    });
    const buttons = document.querySelectorAll('.toggle-active');

    buttons.forEach(button => {
        button.addEventListener('click', function() {
            const userId = this.getAttribute('data-reservation-id');
            const url = this.getAttribute('data-url');
            const csrfToken = getCookie('csrftoken');
            const action = this.textContent.trim().toLowerCase();
        
            fetch(url, {
                method: 'POST',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ action }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    if (action === 'activate') {
                        this.textContent = 'Deactivate';
                    } else {
                        this.textContent = 'Activate';
                    }
                    const statusSpan = this.closest('.accordion-item').querySelector('.active, .inactive');
                    if (statusSpan) {
                        statusSpan.textContent = action === 'activate' ? 'Active' : 'Inactive';
                        statusSpan.classList.toggle('active', action === 'activate');
                        statusSpan.classList.toggle('inactive', action !== 'activate');
                    }
                } else {
                    console.error(data.error);
                }
            })
            .catch(error => console.error(error));
        });
    });
    
    

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
});
</script>
{% endblock extra_js %}