{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Admin Dashboard - {{ user.first_name }}{% endblock title %}

{% block content %}
<style>
   a, h5 {
        color: #51ABAC;
    }
    .active {
    color: green;
    }
    .inactive {
        color: red;
    }
</style>
<section style="background: linear-gradient(#ffffff 0%, rgb(184,237,233) 52%, #54fff5 100%); margin-top: 200px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">             
                <h3 style="font-family: 'Bebas Neue', serif;">Current reservations</h3>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div id="faqlist-incoming" class="accordion accordion-flush">
                            {% for cur_reservation in current_reservations %}
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="btn accordion-button collapsed" style="height: 60px;" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-current-{{ cur_reservation.id }}" data-bs-parent="#faqlist-current" style="font-family: 'Bebas Neue'">
                                        {{ cur_reservation.amenity }} | {{ cur_reservation.date|date:"d/m" }}<br>
                                        {{ cur_reservation.reservation_period.0 }} - {{ cur_reservation.reservation_period.1 }}
                                    </button>
                                </h2>
                                <div id="content-accordion-current-{{ cur_reservation.id }}" class="accordion-collapse collapse">
                                    <p class="accordion-body">
                                        Tenant: {{ cur_reservation.user.first_name }} {{ cur_reservation.user.last_name }}<br>
                                        Date: {{ cur_reservation.date|date:"d/m/Y" }}<br>
                                        ID: {{ cur_reservation.id }}<br>
                                        Status:{% if cur_reservation.active %}
                                            Active<br>
                                        {% else %}
                                            Inactive<br>
                                        {% endif %}
                                        Hours booked:<br>
                                        {% for hour in cur_reservation.hours_booked.all %}
                                            {{ hour }}<br>
                                        {% endfor %}
                                        <a href="{% url 'admin_tenant_profile' name=cur_reservation.user.first_name surname=cur_reservation.user.last_name user_id=cur_reservation.user.id %}">Manage reservation</a>
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">             
                <h3 style="font-family: 'Bebas Neue', serif;">Incoming reservations</h3>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div id="faqlist-incoming" class="accordion accordion-flush">
                            {% for inc_reservation in incoming_reservations %}
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="btn accordion-button collapsed" style="height: 60px;" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-incoming-{{ inc_reservation.id }}" data-bs-parent="#faqlist-incoming" style="font-family: 'Bebas Neue'">
                                        {{ inc_reservation.amenity }} | {{ inc_reservation.date|date:"d/m" }}<br>
                                        {{ inc_reservation.reservation_period.0 }} - {{ inc_reservation.reservation_period.1 }}
                                    </button>
                                </h2>
                                <div id="content-accordion-incoming-{{ inc_reservation.id }}" class="accordion-collapse collapse">
                                    <p class="accordion-body">
                                        Tenant: {{ inc_reservation.user.first_name }} {{ inc_reservation.user.last_name }}<br>
                                        Date: {{ inc_reservation.date|date:"d/m/Y" }}<br>
                                        ID: {{ inc_reservation.id }}<br>
                                        Status:{% if inc_reservation.active %}
                                            Active<br>
                                        {% else %}
                                            Inactive<br>
                                        {% endif %}
                                        Hours booked:<br>
                                        {% for hour in inc_reservation.hours_booked.all %}
                                            {{ hour }}<br>
                                        {% endfor %}
                                        <a href="{% url 'admin_tenant_profile' name=inc_reservation.user.first_name surname=inc_reservation.user.last_name user_id=inc_reservation.user.id %}">Manage reservation</a>
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">             
                <h3 style="font-family: 'Bebas Neue', serif;">Latest reservations</h3>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div id="faqlist-latest" class="accordion accordion-flush">
                            {% for reservation in latest_reservations %}
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="btn accordion-button collapsed" style="height: 60px;" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-latest-{{ reservation.id }}" data-bs-parent="#faqlist-latest" style="font-family: 'Bebas Neue'">
                                        {{ reservation.amenity }}<br>
                                        {{ reservation.user.first_name }}
                                        {{ reservation.user.last_name }}
                                    </button>
                                </h2>
                                <div id="content-accordion-latest-{{ reservation.id }}" class="accordion-collapse collapse">
                                    <p class="accordion-body">
                                        Date: {{ reservation.date|date:"d/m/Y" }}<br>
                                        ID: {{ reservation.id }}<br>
                                        Status:{% if reservation.active %}
                                            Active<br>
                                        {% else %}
                                            Inactive<br>
                                        {% endif %}
                                        Hours booked:<br>
                                        {% for hour in reservation.hours_booked.all %}
                                            {{ hour }}<br>
                                        {% endfor %}
                                        <a href="{% url 'admin_tenant_profile' name=reservation.user.first_name surname=reservation.user.last_name user_id=reservation.user.id %}">Manage reservation</a>
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>            
            <div class="col-md-4">             
                <h3 style="font-family: 'Bebas Neue', serif;">Available Amenities</h3>
                <h5 style="font-family: 'Bebas Neue', serif;">Change the availability of a particular amenity</h5>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div id="faqlist" class="accordion accordion-flush">
                            {% for amenity in amenities %}
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-{{ amenity.slug }}" style="font-family: 'Bebas Neue'">
                                        {{ amenity.slug }} |
                                        {% if amenity.available %}
                                            Active 
                                        {% else %}
                                            Inactive
                                        {% endif %}
                                    </button>
                                </h2>
                                <div id="content-accordion-{{ amenity.slug }}" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body">
                                        {% if amenity.available %}
                                            This amenity is currently active.
                                        {% else %}
                                            This amenity is currently inactive.
                                        {% endif %}                                        
                                    </p>
                                    <form method="POST" action="{% url 'admin_amenity_active' amenity_id=amenity.id %}">
                                        {% csrf_token %}
                                        <button class="btn btn-danger deactivate-btn" data-url="{% url 'admin_amenity_active' amenity_id=amenity.id %}" type="submit" value="{% if amenity.available %}Deactivate{% else %}Activate{% endif %}">
                                            {% if amenity.available %}Deactivate{% else %}Activate{% endif %}
                                        </button>
                                    </form>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-fill" style="font-size: 116px;height: 138px;width: 119px;margin-left: 68px;margin-top: 0px;">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
            </svg>
            <h3 style="font-family: 'Bebas Neue', serif;">Hello, {{ user.first_name }}</h3>
            <h5><a href="{% url 'profile_edit' %}">Edit your profile</a>.</h5> 
            <h5><a href="{% url "password_change" %}">Change your password</a>.</h5>
        </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block extra_js %}
<script>
    document.querySelectorAll('.deactivate-btn').forEach(btn => {
        btn.addEventListener('click', function (e) {
            e.preventDefault();
            const href = this.getAttribute('data-url');
            const isSuperAdmin = {{ user.is_superuser|lower }};
            const action = this.value.toLowerCase();
            
            if (!isSuperAdmin) {
                swal("Permission Denied", "You don't have permission to perform this action.", "error");
                return;
            }

            const confirmationText = `You are going to completely ${action} this amenity in the building.\nNo reservations will be possible!\nAre you sure you want to ${action} this amenity?`;
            
            swal({
                title: "Are you sure?",
                text: confirmationText,
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDeactivate) => {
                if (willDeactivate) {
                    fetch(href, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                    })
                    .then(res => {
                        if (res.ok) {
                            window.location.reload();
                        } else {
                            swal("Error", "An error occurred while processing your request.", "error");
                        }
                    })
                    .catch(err => console.log(err));
                }
            });
        });
    });
</script>
{% endblock extra_js %}


