{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Admin {{ user.first_name }} Profile {% endblock title %}

{% block content %}
<style>
    a, h5 {
        color: #51ABAC;
    }
    .active {
    color: green;
    }
    .inactive {
        color: red;
    }
    .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
    display: block;
    margin: auto;
    }

    .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
    }

    .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    }

    .input-container {
    height: 50px;
    position: relative;
    width: 100%;
    }

    .ic1 {
    margin-top: 40px;
    }

    .ic2 {
    margin-top: 30px;
    }

    .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    }
</style>
<section style="background: linear-gradient(#ffffff 0%, rgb(184,237,233) 52%, #54fff5 100%);margin-top: 150px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form method="post" name="user_profile">
                    {% csrf_token %}
                    <input type="hidden" name="user_profile" value="1">
                    <div class="form">
                        <div class="title">Tenant Profile</div>
                        <h2 style="font-family: 'Bebas Neue', serif;">{{ user.user.first_name }} {{ user.user.last_name }}</h2>
                        <div class="input-container ic1">
                            <input id="firstname" class="input" type="text" placeholder=" " name="{{ tenant_edit_form.first_name.name }}" value="{{ tenant_edit_form.first_name.value }}">
                        </div>
                        <div class="input-container ic2">
                            <input id="lastname" class="input" type="text" placeholder=" " name="{{ tenant_edit_form.last_name.name }}" value="{{ tenant_edit_form.last_name.value }}">
                        </div>
                        <div class="input-container ic2">
                            <input id="email" class="input" type="text" placeholder="Email" name="{{ tenant_edit_form.email.name }}" value="{{ tenant_edit_form.email.value }}">
                        </div>
                        <button class="btn btn-outline-primary btn-sm" style="margin-top:20px;" type="submit">Save</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <form method="post" name="user_comments">
                    {% csrf_token %}
                    <input type="hidden" name="user_comments" value="1">
                    <div class="form">
                        <h3 style="font-family: 'Bebas Neue', serif;">Add New Comment</h3>
                        <div class="input-container ic1">
                            <textarea id="{{ comment_form.text.id }}" class="input" name="{{ comment_form.text.name }}" rows="4" placeholder="Your Comment"></textarea>
                            <button class="btn btn-outline-primary btn-sm" style="margin-top:10px;" type="submit">Save comment</button>
                        </div>
            
                    </div>
                </form>            
            </div>
            <div class="col-md-4">
                <h3 style="font-family: 'Bebas Neue', serif;">Account comments</h3>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        {% with comments.count as total_comments %}
                        <h6>
                            {{ total_comments }} comment{{ total_comments|pluralize:"s" }}
                        </h6>
                    {% endwith %}
                        <div id="faqlist" class="accordion accordion-flush">
                            {% for comment in comments %}
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#comment-accordion-{{ comment.id }}" style="font-family: 'Bebas Neue'">
                                        {{ comment.created|date:"SHORT_DATE_FORMAT" }} | 
                                        {{ comment.text|slice:":10" }}
                                    </button>
                                </h2>
                                <div id="comment-accordion-{{ comment.id }}" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body">
                                        {{ comment.text|linebreaks }}
                                    </p>
                                    <form method="post" action="{% url 'delete_comment' user_id=user.id comment_id=comment.id %}">
                                        {% csrf_token %}
                                        <button class="btn btn-danger toggle-active" type="submit">Delete Comment</button>
                                    </form>
                                </div>
                            </div>
                            {% empty %}
                                <p>There are no comments yet.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="margin-top: 50px;">
                <h3 style="font-family: 'Bebas Neue', serif;">Available Amenities For The Tenant</h3>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div id="faqlist" class="accordion accordion-flush">
                            {% for amenity_detail in amenities_active.amenities_details %}
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-{{ amenity_detail.name }}" style="font-family: 'Bebas Neue'">
                                        {{ amenity_detail.name }} |
                                        {% if amenity_detail.active %}
                                            Active 
                                        {% else %}
                                            Inactive
                                        {% endif %}
                                    </button>
                                </h2>
                                <div id="content-accordion-{{ amenity_detail.name }}" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body">
                                        {% if amenity_detail.active %}
                                            This amenity is currently active for this Tenant.
                                        {% else %}
                                            This amenity is currently inactive for this Tenant.
                                        {% endif %}                                        
                                    </p>
                                    <button class="btn btn-danger toggle-active" data-reservation-id="{{ reservation.id }}" data-url="#">
                                        {% if user.active %}
                                            Deactivate
                                        {% else %}
                                            Activate
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                            {% endfor %}           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="margin-top: 50px;">
                <h3 style="font-family: 'Bebas Neue', serif;">Tenant current reservations</h3>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div id="faqlist" class="accordion accordion-flush">
                            {% for reservation in user_reservations %}
                            {% if reservation.date == todays_date or reservation.date == tomorrows_date %}
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-{{ forloop.counter }}" style="font-family: 'Bebas Neue'">{{ reservation.amenity }} | #{{ reservation.id }} |
                                {% if reservation.active %}
                                    <span class="active">Active</span>
                                {% else %}
                                    <span class="inactive">Inactive</span>
                                {% endif %}</button></h2>
                                <div id="content-accordion-{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body">{{ reservation.date }}</p>
                                    <p class="accordion-body">
                                        {% for hour in reservation.hours_booked.all %}
                                            {{ hour }},
                                        {% endfor %}
                                    </p>
                                    <a href="{% url 'admin_reservation_delete' reservation.id %}" class="btn btn-danger delete-btn">Delete</a>
                                    <button class="btn btn-danger toggle-active" data-reservation-id="{{ reservation.id }}" data-url="{% url 'toggle_reservation_active' reservation.id %}">
                                        {% if user.active %}
                                            Deactivate
                                        {% else %}
                                            Activate
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="margin-top: 50px;">
                <h3 style="font-family: 'Bebas Neue', serif;">Past reservations:</h3>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div id="faqlist" class="accordion accordion-flush">
                            {% for reservation in user_reservations|slice:":10" %}
                            {% if reservation.date != todays_date and reservation.date != tomorrows_date %}
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-past-{{ forloop.counter }}" style="font-family: 'Bebas Neue'">{{ reservation.amenity }} | #{{ reservation.id }} | 
                                {% if reservation.active %}
                                    Active
                                {% else %}
                                    Inactive
                                {% endif %}
                                </button></h2>
                                <div id="content-accordion-past-{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body">{{ reservation.date }}</p>
                                    <p class="accordion-body">
                                    {% for hour in reservation.hours_booked.all %}
                                        {{ hour }},
                                    {% endfor %}
                                    </p>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block extra_js %}
<script>
document.querySelectorAll('.delete-btn').forEach(btn => {
    btn.addEventListener('click', function (e) {
        e.preventDefault();
        const href = this.getAttribute('href');
        swal({
            title: "Are you sure?",
            text: "You cannot undo this reservation for the Tenant",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                fetch(href, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                })
                .then(res => window.location.reload())
                .catch(err => console.log(err));
            }
        });
    });
    const buttons = document.querySelectorAll('.toggle-active');

    buttons.forEach(button => {
        button.addEventListener('click', function() {
            const userId = this.getAttribute('data-reservation-id');
            const url = this.getAttribute('data-url');
            const csrfToken = getCookie('csrftoken');
            const action = this.textContent.trim().toLowerCase();
        
            fetch(url, {
                method: 'POST',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ action }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    if (action === 'activate') {
                        this.textContent = 'Deactivate';
                    } else {
                        this.textContent = 'Activate';
                    }
                    const statusSpan = this.closest('.accordion-item').querySelector('.active, .inactive');
                    if (statusSpan) {
                        statusSpan.textContent = action === 'activate' ? 'Active' : 'Inactive';
                        statusSpan.classList.toggle('active', action === 'activate');
                        statusSpan.classList.toggle('inactive', action !== 'activate');
                    }
                } else {
                    console.error(data.error);
                }
            })
            .catch(error => console.error(error));
        });
    });
    
    

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
});
</script>
{% endblock extra_js %}