{% extends 'base.html' %}
{% load static %}

{% block title %}LivinnX Amenity Booker{% endblock title %}

{% block content %}
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background: url(&quot;static/img/slider_1.jpg&quot;) center / cover no-repeat;margin-top: 60px;height: 810px;"></div>
                <div class="swiper-slide" style="background: url(&quot;static/img/slider_2.jpg&quot;) center / cover no-repeat;margin-top: 60px;height: 810px;"></div>
                <div class="swiper-slide" style="background: url(&quot;static/img/slider_3.jpg&quot;) center / cover no-repeat;margin-top: 60px;height: 810px;"></div>
                <div class="swiper-slide" style="background: url(&quot;static/img/slider_4.jpg&quot;) center / cover no-repeat;margin-top: 60px;height: 810px;"></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
<script>
    var swiper = new Swiper('.swiper-container', {
        autoplay: {
            delay: 5000,
        },
    });
</script>
{% endblock extra_js %}