{% extends 'base.html' %}

{% block title %}LivinnX Amenity Booker{% endblock title %}

{% block content %}
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background: url(&quot;static/img/_MG_6662_(1)_(1).jpg&quot;) center / cover no-repeat;margin-top: 106px;height: 810px;"></div>
                <div class="swiper-slide" style="background: url(&quot;static/img/_MG_6700_(1)_(1).jpg&quot;) center / cover no-repeat;margin-top: 106px;height: 810px;"></div>
                <div class="swiper-slide" style="background: url(&quot;static/img/_MG_6761_(1)_(1).jpg&quot;) center / cover no-repeat;margin-top: 106px;height: 810px;"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
{% endblock content %}